<html>
	<head>
		<title>Financial Calculator Page</title>
		<link rel = "stylesheet" href="\static\Project.css">
	</head>
	<body>
	<form method="post">
	<br>
		<img id= "imgSLC"src={{imgSLC}} alt="Slc pic">
	<label id="dispSLC">SLC: {{SLC}}</label>
	<br>
	<label id="dispfullname">Name: {{fullname}}</label>
	<label id="dispDOB">D.O.B.: {{DOB}}</label>
	<br>
	<label id="dispEmail">Email: {{Email}}</label>
	<label id="dispSchool">School: {{School}}</label>
	<br>
	<label id="dispAge">Age: {{Age}}</label>
	<label id="dispID">Student ID: {{ID}}</label>
	<br>
		<button id = "btnSubmit" type="submit">Submit</button>
	  <br><br>
	  <label id="lblError">{{Error}}</label>
    </form>
	</body>
</html>