<html>
	<head>
		<title>Login Page</title>
		<link rel = "stylesheet" href="\static\Project.css">
	</head>
	<body>
	<h1>Login</h1>
	<form method="post">
	<label id="lblname" name="lblname">Enter Username: </label>
        <input type="text" name="txtname"><br><br>
	<label id="lblpass" name="lblpass">Enter password:&nbsp; </label>
        <input type="text" name="txtpass"><br>
    <br>
      <button id = "btnSubmit" type="submit">Submit</button>
	  <br><br>
	  <label id="lblError">{{Error}}</label>
    	</form>
	</body>
</html>