<html>
<head>
    <title>Calculator</title>
	<link rel="stylesheet" type="text/css" href="/static/calccustomize.css"> 
</head>
<body>
    <label id="screen">{{ P1 }} {{ Sign }} {{ P2 }}</label>
    <form action="/calculate" method="post">
        <button type="submit" name="btn" value="C">C</button>
        <button type="submit" name="btn" value="/">/</button>
		<button type="submit" name="btn" value="x">x</button>
		<button type="submit" name="btn" value="±">±</button>
		<br>
        <button type="submit" name="btn" value="7">7</button>
        <button type="submit" name="btn" value="8">8</button>
        <button type="submit" name="btn" value="9">9</button>
		<br>
        <button type="submit" name="btn" value="4">4</button>
        <button type="submit" name="btn" value="5">5</button>
        <button type="submit" name="btn" value="6">6</button>
        <button type="submit" name="btn" value="-">-</button>
		<br>
        <button type="submit" name="btn" value="1">1</button>
        <button type="submit" name="btn" value="2">2</button>
        <button type="submit" name="btn" value="3">3</button>
        <button type="submit" name="btn" value="+">+</button>
		<br>
        <button type="submit" name="btn" value="0">0</button>
        <button type="submit" name="btn" value=".">.</button>
        <button type="submit" name="btn" value="%">%</button>
        <button type="submit" name="btn" value="=">=</button>
    </form>
</body>
</html>
